@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@500;600;700&family=Unica+One&display=swap');

*{
	margin:0;
	padding: 0;
	font-family: 'Mohave', sans-serif;
	max-width: 100vw;
	max-height: 100vh;

}
header{
	background-color: black;
	color: lightgrey;
	padding:0.5em 1em;
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	height: 2.25vh;
}
nav{
	width: 10vw;
	margin-right: 2em;
}
ul{
	display: flex;
	justify-content: space-between;
}
ul li{
	list-style: none;
}
ul li a{
	text-decoration: none;
	color: lightgrey;
}
main{
	max-height: 97vh;
	overflow: hidden;
}
section h1{
	font-size: 5em;
	position: relative;
	font-family:  'Unica One', sans-serif;
	padding: 1.5em;
}
section a{
	text-decoration: none;
	color: black;
}
.trimestre{
	width: 100vw;
	height: 32vh;
	position: relative;
}
.primero{
	background-color:magenta;
}
.segundo{
	background-color:cyan;
}
.tercero{
	background-color: yellow;
}
