@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
*{
	margin:0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	box-sizing:border-box;
}
header{
	background-image: url("../img/1.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	color:white;
	justify-content: center;
	align-items: center;
	animation-name: fond;
	animation-duration: 10s;
}
.cabeza{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
h1{
	font-size: 2.5em;
	font-weight: 400;
	text-shadow: 5px 5px 5px #372923;
}
a{
	display: flex;
	margin: 0.5em 0em;
	padding: 0.5em;
	text-decoration:none;
	color: white;
	font-size: 1.25em;
	background-color: grey;
	border-radius: 1em;
}
a:hover{
	background-color: #E63C42;
}
@keyframes fond{
	0%{
		background-image:url("../img/2.jpg");
	}
	20%{
		background-image:url("../img/3.jpg");	
	}
	40%{
		background-image:url("../img/4.jpg");
	}
	60%{
		background-image:url("../img/5.jpg");
	}
	80%{
		background-image:url("../img/6.jpg");
	}
	100%{
		background-image:url("../img/7.jpg");
	}
}