@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*{
	margin:0;
	padding: 0;
	font-family:'Montserrat',sans-serif;
	font-size:1.15em;
}
body{
	background-image: url(../img/02.jpg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.over{
	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 100%;
   	background-color: black;
   	opacity: 0.6;
}
p{
	display: flex;
	flex-direction: column;
	position: absolute;
	margin:20vh 15vw ;
	justify-content: center;
	color:white;

}
.p1:nth-child(1){
	animation: typing 7s steps(65) 3s backwards, whity 0.5s 18s forwards;
	overflow: hidden;
	white-space: nowrap;

}
.p1:nth-child(2){
	animation: typing 4s steps(34) 11s backwards, whity 0.5s 18s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p1:nth-child(3){
	animation: typing 2s steps(18) 14s backwards, whity 0.5s 18s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p1:nth-child(4){
	animation: typing 2s steps(22) 16s backwards, whity 0.5s 18s forwards;
	overflow: hidden;
	white-space: nowrap;
}

.p2:nth-child(1){
	animation: typing 3s steps(28) 20s backwards, whity 0.5s 34s forwards;
	overflow: hidden;
	white-space: nowrap;

}
.p2:nth-child(2){
	animation: typing 3s steps(36) 23s backwards, whity 0.5s 34s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p2:nth-child(3){
	animation: typing 4s steps(27) 27s backwards, whity 0.5s 34s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p2:nth-child(4){
	animation: typing 3s steps(32) 31s backwards, whity 0.5s 34s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p3:nth-child(1){
	animation: typing 7s steps(58) 37s backwards, whity 0.5s 59s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p3:nth-child(2){
	animation: typing 2s steps(31) 45s backwards, whity 0.5s 59s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p3:nth-child(3){
	animation: typing 5s steps(41) 47s backwards, whity 0.5s 59s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p3:nth-child(4){
	animation: typing 3s steps(43) 52s backwards, whity 0.5s 59s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(1){
	animation: typing 3s steps(22) 60s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(2){
	animation: typing 3s steps(38) 63s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(3){
	animation: typing 6s steps(45) 68s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(4){
	animation: typing 3s steps(18) 75s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(5){
	animation: typing 2s steps(20) 78s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p4:nth-child(6){
	animation: typing 2s steps(20) 80s backwards, whity 0.5s 82s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(1){
	animation: typing 3s steps(25) 84s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(2){
	animation: typing 3s steps(44) 87s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(3){
	animation: typing 3s steps(28) 92s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(4){
	animation: typing 3s steps(33) 95s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(5){
	animation: typing 3s steps(32) 101s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(6){
	animation: typing 2s steps(21) 104s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(7){
	animation: typing 3s steps(23) 106s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(8){
	animation: typing 2s steps(32) 109s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p5:nth-child(9){
	animation: typing 3s steps(32) 112s backwards, whity 0.5s 115s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p6:nth-child(1){
	animation: typing 6s steps(52) 118s backwards, whity 0.5s 132s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p6:nth-child(2){
	animation: typing 3s steps(54) 125s backwards, whity 0.5s 132s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(1){
	animation: typing 7s steps(46) 134s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(2){
	animation: typing 3s steps(22) 141s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(3){
	animation: typing 5s steps(38) 144s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(4){
	animation: typing 7s steps(45) 149s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(5){
	animation: typing 3s steps(18) 156s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(6){
	animation: typing 2s steps(20) 159s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p7:nth-child(7){
	animation: typing 2s steps(20) 161s backwards, whity 0.5s 163s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(1){
	animation: typing 7s steps(46) 164s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(2){
	animation: typing 3s steps(22) 171s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(3){
	animation: typing 6s steps(38) 174s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(4){
	animation: typing 6s steps(44) 180s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(5){
	animation: typing 2s steps(18) 186s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(6){
	animation: typing 2s steps(20) 188s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
.p8:nth-child(7){
	animation: typing 4s steps(19) 190s backwards, whity 0.5s 194s forwards;
	overflow: hidden;
	white-space: nowrap;
}
@keyframes typing{
	from { 
		width: 0%;
	}
    to { 
    	width:100%;
    }
}
@keyframes whity{
	0%{
		opacity: 1;

	}
	95%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}