@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Shippori Antique B1', sans-serif;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	background-color: #2e2e2e;
	position: relative;
	color: #e8e8e8;
}
.menu{
	display: flex;
	align-items: center;
	justify-content:space-between;
	transition: top 1s ease-in;
}
.items{
	display: flex;
	justify-content: space-between;
}
li{
	list-style: none;
	margin: 0.5em;
}
li a{
	text-decoration: none;
	color: #e8e8e8;
}
a:hover{
	color: darkred;
}
.btn-burger{
	width: 2em;
	display:none!important;
}
nav.show{
	top: 6vh;
}
@media screen and (max-width: 660px){
	.menu{
		top: -100vh;
		position: fixed;
		background-color: #2e2e2e;
		height: 100vh;
		width: 100vw;
		z-index: -1;
		right: 0;
	}	
	.items{
		flex-direction: column;
		text-align: center;
		font-size: 2em;
		width: 100%;
	}
	.btn-burger{
		width: 2em;
		display: inline-flex !important;
	}

}